*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto-example, sans-serif;
  background-color: #cccc;
}
* {
  outline: none !important;
}
.wrapper {
  max-width: 850px;
  margin: 20px auto;
  outline: 1px solid red;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 100px;
  color: black;
  margin-left: 40px;
}
.container_1 img {
  width: 100%;
  margin: 5px;
}
.container_1 {
  width: 45%;
  min-height: 362px;
  margin-bottom: 10px;
  outline: 1px solid red;
  background-color: white;
  float: left;
}
.container_2 {
  font-size: 14px;
  color: #737373;
  outline: 1px solid red;
  background-color: white;
  padding-bottom: 5px;
  margin-top: 10px;
}
.container_2 ul li {
  margin-top: 5px;
  list-style: none;
  margin-left: 40px;
}
.small {
  font-size: 10px;
  margin-left: 50px;
  color: #737373;
}

.item_1 a:hover {
  background-color: #93c50e;
}
.item_1 a,
.list_1 {
  text-decoration: none;
  color: #737373;
  text-align: center;
  line-height: 38px;
  margin: 10px auto;
  transition: 1s;
}
.list {
  display: block;
  max-width: 138px;
  height: 38px;
  background: rgb(242, 242, 242);
}

.list_1 {
  max-width: 220px;
  height: 40px;
  font-size: 16px;
  color: #93c50e;
  background-color: rgb(242, 242, 242);
}
.list_2 {
  text-align: center;
  font-size: 23px;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}
.item_1 {
  padding-top: 30px;
  outline: 1px solid red;
  background-color: white;
  min-height: 362px;
  font-size: 14px;
  font-family: roboto-example, sans-serif;
  padding-left: 50%;
}
.buttom {
  display: block;
  max-width: 138px;
  height: 38px;
  margin: 0 auto;
  background: #93c50e;
}

@media (max-width: 950px) {
  .wrapper {
    max-width: 600px;
    margin: 20px auto 20px auto;
  }
  .container_1 {
    width: 100%;
    float: none;
    overflow: hidden;
    margin-right: 10px;
  }
  img {
    max-width: 98%;
  }
  .item_1 {
    width: 100%;
    padding-left: 10px;
  }
}

@media (max-width: 620px) {
  .wrapper {
    max-width: 400px;
    margin: 20px auto 20px auto;
  }
}
@media (max-width: 400px) {
  .container_1 {
    width: 100%;
  }
}
